<div class="panel"> Пример поиска (GRCh37): <a href="{{ url_for('.pheno_page', phenocode='ldlp') }}" class="btn btn-link"
    >LDL</a>
  <a href="{{ url_for('.gene_page', genename='APOE') }}" class="btn btn-link"
    >APOE</a>
  <a
    href="{{ url_for('.variant_page', query='19-45412079-C-T') }}"
    class="btn btn-link"
    >rs7412</a>
  <a
    href="{{ url_for('.variant_page', query='19-45412079-C-T') }}"
    class="btn btn-link"
    >19-45412079-C-T</a>
</div>

<div class="well">
  <p>
    Этот веб-сайт публикует результаты полногеномного поиска ассоциаций (GWAS) для когорты из 4145 человек из России (465 конечных точек). 
    Биобанк России (BBRU) - это проспективный биобанк, под управлением <a href="http://www.almazovcentre.ru/?lang=ru" target="_blank"
    >Национального медицинского исследовательского центра им. В.А. Алмазова Минздрава России</a>.
    Для подробного описания когорты и анализа см. [biorxiv link].
    Правила использования ресурса: <a id="auto-btn" href="#msa-popup1">пользовательское соглашение</a>.
  </p>
</div>
